<!-- all the HTML construction happens in the buildFavoritesGrid utility function -->
<h1><%= title %></h1>

<%- messages() %>

<p><a href="/account/">Back to Account Management</a></p>

<%- grid %>

<script src="/js/favorites.js" defer></script>
