<!-- Register View -->
 <h1><%= title %></h1>
 <%- messages() %>
 <form id="register-form" action="/account/register" method="post">
    <label for="account_firstname">First name</label>
    <input type="text" id="account_firstname" name="account_firstname" required>

    <label for="account_lastname">Last name</label>
    <input type="text" id="account_lastname" name="account_lastname" required>

    <label for="account_email">Email address</label>
    <input type="email" id="account_email" name="account_email" required>

    <label for="account_password">Password</label>
    <input type="password" id="account_password" name="account_password" required
        pattern="^(?=.*[A-Z])(?=.*[0-9])(?=.*[^A-Za-z0-9\s]).{12,}$">
        <!-- for special character required you can "(?=.*[!@#$%^&*])" to be more specific-->
        <!--or use "(?=.*[^A-Za-z0-9\s])" for any character not a letter or number and no spaces to be acceptable-->
        <!-- "[^\s]" entire password cannot contain spaces -->
    <small>Must be at least 12 characters, include 1 capital letter, 1 number, and 1 special character.</small>

    <!-- toggle password visibility -->
    <label class="switch">
        <input type="checkbox" id="password-toggle">
        <span class="switch-slider"></span>
        <span class="switch-label">Show Password</span>
    </label>

    <button type="submit">Register</button>
 </form>

 <p>Already have an account? <a href="/account/login">Log in</a></p>
