<section class="hero">
    <h1>Welcome to CSE Motors</h1>
    <%- messages() %>
    <div class="hero-image">
        <img src="/images/vehicles/delorean.jpg" alt="DMC Delorean">
            <div class="hero-card">
                <h2>DMC Delorean</h2>
                <ul class="highlights">
                    <li>3 Cup holders</li>
                    <li>Superman doors</li>
                    <li>Fuzzy dice!</li>
                </ul>
                <button class="own-today">Own Today</button>
            </div>
    </div>
</section>
<section class="content-cards">
    <div class="upgrade-card">
        <h2>Delorean Upgrades</h2>
        <ul class="upgrades">
            <li>
                <img src="/images/upgrades/flux-cap.png" alt="flux capacitor">
                <a href="">Flux Capacitor</a>
            </li>
            <li>
                <img src="/images/upgrades/flame.jpg" alt="flame decals">
                <a href="">Flame Decals</a>
            </li>
            <li>
                <img src="/images/upgrades/bumper_sticker.jpg" alt="bumper stickers">
                <a href="">Bumper Stickers</a>
            </li>
            <li>
                <img src="/images/upgrades/hub-cap.jpg" alt="hub caps">
                <a href="">Hub Caps</a>
            </li>
        </ul>
    </div>
    <div class="review-card">
        <h2>DMC Delorean Reviews</h2>
        <ul class="review-list">
            <li>"So fast it's almost like traveling in time." (4/5)</li>
            <li>"Coolest ride on the road." (4/5)</li>
            <li>"I'm feeling Marty McFly!" (5/5)</li>
            <li>"The most futuristic ride of our day." (4.5/5)</li>
            <li>"80's styling that is so bad, it's good." (4/5)</li>
        </ul>
    </div>
</section>