<% if (title) { %>
    <h1><%= title %></h1>
<% } else {
    res.redirect("/");
} %> 

<!-- 
*******************************************
* using a comment mark (#), disables this code
* In the future, when messages have been implemented, 
* you'll replace the comment with the unescaped mark (—)
************************** -->
<%# messages() %>


<%- grid %>