<%- messages() %>

<h1><%= title %></h1>

<p>Welcome to the vehicle management page.</p>

<ul>
    <li><a href="/inv/add-classification">Add New Classification</a></li>
    <li><a href="/inv/add-inventory">Add New Inventory Item</a></li>
</ul>