<h1><%= title %></h1>
<%- message %>
<p>We've been trying to reach this page about its extended warranty, but it changed its number and skipped town.</p>
<p>Let's get you back <a href="/">Home.</a></p>
